#contato{
    padding-bottom: 100px;
}

#contato h1{
    font-size: var(--fonteTitulo);
    margin-bottom: 40px;
}

#contato p{
    font-size: var(--fonteParagrafo);
    margin-bottom: 20px;
    width: 50%;
}

#contato a{
    color: var(--corBranco);
}