#experiencias{
    background-color: var(--corFundo);
    padding-bottom: 150px;
    color: var(--corBranco);
    padding-top: 100px;
}

#experiencias h1{
    font-size: var(--fonteTitulo);
    margin-bottom: 50px;
}

.experienciasContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.experienciasContainer > div{
    width: 45%;
    height: 200px;
    background-color: var(--roxoMedio);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 30px;
    border-top: 5px solid var(--roxoClaro);
    border-radius: 30px;
    background: linear-gradient(130deg, var(--roxoEscuro) 0%, var(--roxoMedio) 50%, var(--roxoClaro) 100%);
}

.experienciasContainer > div h2{ /* Selecionando o filha da div para qualquer h2 contigo nela.*/ 
    font-size: var(--fonteSubtitulo); 
}

.experienciasContainer > div a{ /* Selecionando o filho da div para qualquer a contigo nela.*/
    color: var(--corBranco);  
    border: 2px solid var(--roxoClaro);
    border-radius: 30px;
    padding: 10px 20px; /* O primeiro valor atua na vertical e o segundo na horizontal.*/
    display: inline-block; /* Vai fazer com que o objeto fique em linha e não se sobreponha sobre os demais. */
    text-transform: uppercase; /* Transforma o texto todo em caixa alta.*/
    margin-top: 20px;
    background-color: transparent;
}