#navegacao{
    width: 100%;
    height: 80px;
    background-color: var(--roxoEscuro);
    color: var(--corBranco);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed; /* Travar a posição do meu elemento.*/
}

#navegacao ul{
    display: flex;
    flex-direction: row;
}

#navegacao a{
    color: var(--corBranco);
    font-size: var(--fonteParagrafo);
    margin-right: 30px;
}